@import "common/mixins";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "common/spacing";
@import "common/heading";
@import "common/header";
@import "common/button";
@import "common/card";
@import "common/slider";
@import "home/banner";
@import "rooms/index";

:root {
  --font-merri: "Merriweather Sans", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
  --font-dream: "Dream Avenue", sans-serif;
  --spacing-8: 0.5rem;
  --spacing-10: 0.625rem;
  --spacing-12: 0.75rem;
  --spacing-14: 0.875rem;
  --spacing-16: 1rem;
  --spacing-18: 1.125rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-26: 1.625rem;
  --spacing-28: 1.75rem;
  --spacing-32: 2rem;
  --spacing-34: 2.125rem;
  --spacing-36: 2.25rem;
  --spacing-40: 2.5rem;
  --spacing-44: 2.75rem;
  --spacing-48: 3rem;
  --spacing-50: 3.125rem;
  --spacing-52: 3.25rem;
  --spacing-56: 3.5rem;
  --spacing-60: 3.75rem;
  --spacing-64: 4rem;
  --spacing-80: 5rem;
  --spacing-128: 8rem;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;
  --cl-f8faf9: #faf8f9;
  --cl-eeeeee: #eeeeee;
  --cl-white: #ffffff;
  --cl-light-white: #f7f6f6;
  --cl-yellow: #ffa62b;
  --cl-yellow-hover: #ef9c2a;
  --cl-light-brown: #b3aa99;
  --cl-light-green: #24a996;
  --cl-medium-green: #007463;
  --cl-black: #222222;
  --cl-dark-black: #000000;
  --cl-light-black: #232222;
  --cl-dark-black: #525252;
}

html,
body {
  font-size: 14px;

  @include respond-above(lg) {
    font-size: 16px;
  }

  @include respond-above(xl) {
    font-size: 18px;
  }
}

body {
  font-family: var(--font-quicksand);
  background: #fff;
  color: var(--cl-dark-black);
  font-weight: 400;
  transition: 300ms ease-in-out;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  letter-spacing: -0.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.main-section {
  flex: 1;
}

a,
li,
a:hover {
  text-decoration: none;
  color: var(--cl-yellow-hover);
}

a {
  color: var(--cl-yellow);
  transition: 300ms ease-in-out;
}

li {
  &::maker {
    display: none;
    content: none;
  }
}

.img-width {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.radius-8 {
  border-radius: var(--radius-8);
}

.radius-12 {
  border-radius: var(--radius-12);
}

.radius-16 {
  border-radius: var(--radius-16);
}

.sd-sm {
  box-shadow:
    0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
}

.sd-md {
  box-shadow:
    0px 2px 4px -2px rgba(16, 24, 40, 0.06),
    0px 4px 8px -2px rgba(16, 24, 40, 0.1);
}

.sd-lg {
  box-shadow:
    0px 4px 6px -2px rgba(16, 24, 40, 0.03),
    0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

.sd-big {
  box-shadow: 0px 60px 135px 0px rgba(0, 0, 0, 0.14);
}

.bg-yellow {
  background-color: var(--cl-yellow);
}

.bg-f8faf9 {
  background-color: var(--cl-f8faf9);
}

.bg-medium-green {
  background-color: var(--cl-medium-green);
}

.position-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
}

.cus-three-line {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 0;
  transform: rotate(90deg) translate(-50%, 0);

  .three-line {
    &__line {
      width: 470px;

      @include respond-above(lg) {
        width: 650px;
      }
    }
  }
}

.three-line {
  gap: 16px;

  &.right {
    align-items: flex-end;
  }

  &.center {
    align-items: center;
  }

  &__line {
    width: 45vw;
    background-color: #f9e7cd;
    height: 15px;
  }
}

.footer {
  &-row {
    @include respond-below(lg) {
      gap: 60px;
    }
  }

  &-social {
    &__item {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__item-link {
      .icon {
        width: 14px;
        flex: 0 0 14px;

        svg {
          path {
            fill: var(--cl-yellow);
          }
        }
      }
    }
  }
}
.back-page {
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  .button {
    border-radius: 0 !important;
    border-bottom-right-radius: 12px !important;
    min-width: auto !important;
    @include respond-above(md) {
      border-radius: 12px !important;
    }
  }
  @include respond-above(md) {
    top: 30px;
    left: 30px;
  }
  @include respond-below(lg) {
    .img-width {
      width: 40px;
    }
  }
}

.loading-spinner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 123;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  visibility: visible;
  background: #fff;
  transition: opacity 300ms  ease-in-out, visibility 300ms ease-in-out;
  &.off {
    opacity: 0;
    visibility: hidden;
  }
}

.page-404 {
  height: 100vh;
}