@mixin button-styles($bg-color,
  $text-color,
  $bg-hover,
  $bg-active,
  $border-radius: $border-radius,
  $padding: 14px 20px,
  $transition-duration: 0.3s) {
  background-color: $bg-color;
  min-width: 200px;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  color: $text-color;
  border-radius: $border-radius;
  padding: $padding;
  cursor: pointer;
  transition:
    background-color $transition-duration,
    color $transition-duration;

  &:hover {
    background-color: $bg-hover;
    color: $text-color;
  }

  &:active {
    background-color: $bg-active;
    color: $text-color;
  }
}

.cus-button {
  .button {
    &-default {
      @include button-styles(var(--cl-yellow),
        var(--cl-white),
        var(--cl-yellow-hover),
        var(--cl-yellow-hover),
        12px);
    }

    &-black {
      @include button-styles(var(--cl-black),
        var(--cl-white),
        var(--cl-dark-black),
        var(--cl-dark-black),
        12px);
    }
  }
}