---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
const currentUrl = Astro.url;
---

<Layout 
  title="Happy Studio - Trang này không tồn tại!"
  description="Giữa chốn thành thị tấp nập, không gian riêng càng trở nên xa xỉ hơn. Home không chỉ là chốn yên bình dành cho những giờ phút nghỉ ngơi, khoảng lặng để hoàn thành công việc. Mà còn là nơi thắp lên tình yêu, tình bạn và ghi lại những kỷ niệm đáng nhớ."
  images={`${currentUrl}/images/banner.webp`}
  url={currentUrl as any}
  >
  
  <main class="main-section">
      <div>hehe</div>
  </main>
  
</Layout>
