---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Banner from "@components/Banner.astro";
import RoomSlider from "@components/home/RoomSlider.astro";
import RoomScale from "@components/home/RoomScale.astro";
import RoomIntroduce from "@components/home/RoomIntroduce.astro";
import RoomThanks from "@components/home/RoomThanks.astro";
import RoomLocation from "@components/home/RoomLocation.astro";
import Footer from "@components/Footer.astro";
const currentUrl = Astro.url;
---

<Layout 
  title="Happy Studio - Netflix & Chill"
  description="Với mong muốn có thể mang đến cho bạn những giá trị tốt hơn mỗi ngày, Home đang cải tiến chương trình tích lũy điểm thành viên để bạn có thể nhận nhiều ưu đãi và quyền lợi đặc biệt mỗi khi sử dụng dịch vụ."
  images={`${currentUrl}/images/banner.webp`}
  url={currentUrl as any}>
  <Header />
  <main class="main-section">
    <Banner />
    <RoomScale />
    <RoomSlider />
    <RoomIntroduce />
    <RoomThanks
      imageUrl="/images/room-introduce.svg"
      description="Với mong muốn có thể mang đến cho bạn những giá trị tốt hơn mỗi ngày, Home đang cải tiến chương trình tích lũy điểm thành viên để bạn có thể nhận nhiều ưu đãi và quyền lợi đặc biệt mỗi khi sử dụng dịch vụ."
    />
    <RoomLocation />
  </main>
  <Footer />
</Layout>
