.list-rooms {
  .list-room-slider {
    &__thumbnail {
      &:before {
        padding-top: 90%;
      }
    }
    &__info {
      margin-top: var(--spacing-16) !important;
      .title {
        font-size: var(--spacing-18) !important;
      }
    }
  }
  &__heading {
    .icon {
      svg {
        width: 16px;
      }
    }
  }
}

.flex-gap-64 {
  gap: var(--spacing-44);
  @include respond-above(lg) {
    gap: var(--spacing-64);
  }
}

.room-detail {
  &-banner {
    height: 100vh;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(#222222, 0.5);
    }
    .img-width {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 87%;
    }
    &__heading {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      z-index: 2;
      transform: translate(-50%, -50%);
      @include respond-above(md) {
        width: 50%;
      }
    }
  }
  &-list {
    margin-top: -80px;
    &__ratio {
      &:hover {
        .img-width {
          filter: brightness(1);
        }
      }
      &.primary {
        .img-width {
          border-top-left-radius: var(--radius-8);
          border-top-right-radius: var(--radius-8);
          @include respond-above(md) {
            border-top-right-radius: 0;
            border-bottom-left-radius: var(--radius-8);
          }
        }
        &.ratio-1-1 {
          &:before {
            @include respond-below(md) {
              padding-top: 60%;
            }
          }
        }
      }
      &.second {
        &.ratio-1-1 {
          &:before {
            @include respond-below(md) {
              padding-top: 67%;
            }
          }
        }
      }
      &-right {
        &:nth-child(2) {
          .img-width {
            @include respond-above(md) {
              border-top-right-radius: var(--radius-8);
            }
          }
        }
        &:nth-child(3) {
          .img-width {
            @include respond-below(md) {
              border-bottom-left-radius: var(--radius-8);
            }
          }
        }
        &:nth-child(4) {
          .img-width {
            border-bottom-right-radius: var(--radius-8);
          }
        }
      }
      &.ratio-16-9 {
        &:before {
          content: '';
          display: block;
          padding-top: 56.25%;
        }
      }
      &.ratio-1-1 {
        &:before {
          content: '';
          display: block;
          padding-top: 100%;
        }
      }
      .img-width {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(0.95);
        transition: filter 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
        transform: translate(-50%, -50%);
      }
    }
    &__show-all {
      cursor: pointer;
      padding: 6px 10px 7px;
      border-radius: 8px;
      background: var(--cl-yellow);
      color: var(--cl-white);
      border: 1px solid var(--cl-yellow);
      min-width: 160px;
      text-align: center;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      @include respond-above(md) {
        position: absolute;
        bottom: 20px;
        right: 25px;
        width: auto;
        background: var(--cl-white);
        color: var(--cl-yellow);
        border: 1px solid var(--cl-yellow);
      }
    }
    &__modal {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 112;
      overflow-y: auto;
      opacity: 0;
      visibility: hidden;
      transform: translateY(40%);
      background-color: var(--cl-white);
      transition: transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 400ms cubic-bezier(0.165, 0.84, 0.44, 1), visibility 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
      &-back {
        cursor: pointer;
        line-height: 30px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transition: background-color 300ms ease-in-out;
        &:hover {
          background-color: var(--cl-eeeeee);
        }
      }
      &-share {
        cursor: pointer;
        border-radius: 8px;
        background-color: var(--cl-black);
        color: var(--cl-white);
        transition: background-color 300ms ease-in-out;
        &:hover {
          background-color: rgba(#222222, .9);
        }
      }
      &.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
    &__share-social {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 123;
      opacity: 0;
      visibility: hidden;
      background-color: rgba(#000, .4);
      transition:  opacity 400ms cubic-bezier(0.165, 0.84, 0.44, 1), visibility 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
      &.show {
        opacity: 1;
        visibility: visible;
        .room-detail-list__share-social-wrapper {
          opacity: 1;
          visibility: visible;
          transform: translate(-50%, -50%);
        }
      }
      &-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 90%;
        background: #ffff;
        z-index: 12;
        opacity: 0;
        visibility: hidden;
        transform: translate(-50%, 0%);
        transition: transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 400ms cubic-bezier(0.165, 0.84, 0.44, 1), visibility 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
        @include respond-above(md) {
          min-width: 600px;
        }
      }
      &-item{ 
        border: 1px solid #ddd;
        cursor: pointer;
        transition: background-color 300ms ease-in-out;
        &:hover {
          background-color: var(--cl-eeeeee);
        }
        &__icon {
          svg {
            width: 20px;
            height: 20px;
            path {
              fill: var(--cl-black);
            }
          }
        }
      }
      &__close {
        cursor: pointer;
      }
      &__thumbnail {
        width: 80px;
        height: 80px;
        .img-width {
          object-fit: cover;
        }
      }
    }
  }
  &-services {
    &__item {
      gap: var(--spacing-16);
    }
    &__icon {
      flex: 0 0 20px;
      svg {
        width: 28px !important;
        height: 28px !important;
        path {
          fill: var(--cl-black);
        }
      }
    }
    &__price {
      border: 1px solid rgb(221, 221, 221);
      box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
      &-default {
        &__item {
          flex: 0 0 50%;
          width: 50%;
          background-color: #fff6ea;
          border: 1px solid var(--cl-yellow);
          + .room-detail-services__price-default__item {
            // border-left: 0;
            
          }
          &:first-child {
            // border-top-left-radius: var(--radius-12);
            // border-bottom-left-radius: var(--radius-12);
          }
          &:last-child {
            // border-top-right-radius: var(--radius-12);
            // border-bottom-right-radius: var(--radius-12);
          }
        }
      }
    }
  }
  &-map {
    iframe {
      filter: grayscale(1);
      transition: 400ms ease-in-out;
      &:hover {
        filter: none;
      }
    }
  }
  &-order {
    .list-room-slider__thumbnail {
      &:before {
        padding-top: 65%;
      }
    }
  }
}

[data-show-all] {
  cursor: pointer;
}

.custom-calendar {
  .fc-theme-standard {
    .fc-list {
      background: var(--cl-white);
      border: 1px solid #eee;
      border-radius: var(--radius-8);
      box-shadow:
      0px 2px 4px -2px rgba(16, 24, 40, 0.06),
      0px 4px 8px -2px rgba(16, 24, 40, 0.1);
    }
    td, 
    th {
      border-color: var(--cl-eeeeee);
    }
  }
  .fc-list-event-graphic {
    padding: 0 !important;
    .fc-list-event-dot {
      display: none;
    }
  }
  .fc {
    .fc {
      &-list-empty {
        background-color: transparent;
      }
      &-list-event {
        &:hover {
          td {
            cursor: default;
            background: transparent;
          }
        }
      }
      &-toolbar-title {
        font-weight: 700;
        font-size: var(--spacing-16);
      }
      &-button-primary {
        font-weight: 500;
        font-size: var(--spacing-12);
        background-color: #fff6ea;
        color: var(--cl-black);
        border-color: var(--cl-yellow);
        &:not(:disabled).fc-button-active,
        &:not(:disabled):active {
          background-color: var(--cl-yellow);
          border-color: var(--cl-yellow);
          color: var(--cl-white);
        }
        &:focus {
          box-shadow: none !important;
          outline: 0;
        }
      }
      &-button {
        padding: 6px 10px 9px;
        .fc-icon {
          font-size: var(--spacing-14);
        }
      }
      &-list-day-cushion,
      &-list-table td {
        padding: 14px;
      }
      &-list-day-cushion {
        background: #fff6ea;
        .fc-list-day-text, 
        .fc-list-day-side-text {
          font-size: var(--spacing-14);
        }
      }
      
    }
    .fc-toolbar {
      @include respond-below(sm) {
        flex-wrap: wrap;
      }
      .fc-toolbar-chunk {
        &:nth-child(1) {
          flex: 0 0 20%;
         
        }
        &:nth-child(2) {
          flex: 0 0 50%;
          text-align: center;
          @include respond-below(sm) {
            order: 3;
            flex: 0 0 100%;
            margin-top: var(--spacing-24);
          }
        }
        &:nth-child(3) {
          text-align: right;
          flex: 0 0 20%;
          @include respond-below(sm) {
            order: 2;
            flex: 0 0 50%;
          }
        }
      }
    }
  }
}

.calendar-time-item {
  background: var(--cl-white);
  border: 1px solid var(--cl-eeeeee);
  .info {
    border-left: 2px solid var(--cl-yellow);
  }
}