---
import CardFull from "@components/CardFull.astro";
import CardTitle from "@components/CardTitle.astro";
import ThreeLine from "@components/ThreeLine.astro";

---
<ThreeLine position="right"/>
<section class="cs-py-70">
  <CardFull 
    title="<span>Netflix & Chill</span>"
    colorTitle="cl-yellow"
    description="<span>Giữa lòng thành phố nhộn nhịp, không gian riêng tư trở nên quý giá. Không chỉ là nơi nghỉ, bạn cần bao nhiêu riêng tư, <br />Home cũng có!</span>"
    buttonText="Đặt Phòng"
    buttonLink="#"
    imagePriUrl="/src/assets/introduce/ntg-pri-01.jpg"
    imageSubUrl="/src/assets/introduce/ntg-sub-01.jpg"
  />
</section>
<section class="cs-py-20 text-center">
  <div class="container">
    <CardTitle 
      title="<span class='fw-900'>KỲ NGHỈ DÀI VÀ NGẮN</span>"
      colorTitle="cl-yellow"
      description="<span>Đội ngũ home siêu thân thiện, <br />luôn sẵn sàng chăm sóc bạn, từ việc lo liệu đi lại đến bật mí những góc nhỏ thú vị. <br /> Cần gì cứ gọi, tụi mình luôn ở đây 24/7 nha.</span>"
    />
  </div>
</section> 
<section class="cs-py-70">
  <CardFull 
    title="<span>Netflix & Chill</span>"
    position="right"
    colorTitle="cl-yellow"
    description="<span>Giữa lòng thành phố nhộn nhịp, không gian riêng tư trở nên quý giá. Không chỉ là nơi nghỉ, bạn cần bao nhiêu riêng tư, <br />Home cũng có!</span>"
    buttonText="Đặt Phòng"
    buttonLink="#"
    imagePriUrl="/src/assets/introduce/ntg-pri-02.jpg"
    imageSubUrl="/src/assets/introduce/ntg-sub-02.jpg"
  />
</section>
<ThreeLine position="left"/>
