---
import { Image } from "astro:assets";
---

<section class="room-scale">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-6 text-end">
        <Image
          src="/images/scale/room-scale-1.webp"
          alt="Không gian sống"
          width={1356}
          height={900}
          quality={30}
          class="room-scale__img sd-big radius-12"
        />
      </div>
      <div class="col-6 text-start">
        <Image
          src="/images/scale/room-scale-2.webp"
          alt="Không gian sống"
          width={1356}
          height={900}
          quality={30}
          class="room-scale__img-2 sd-big radius-12"
        />
      </div>
    </div>
  </div>
</section>
