---
import CardTitle from "../CardTitle.astro";
import ListRoomSlide from "@components/ListRoomSlide.astro";
const rooms = [
  {
    title: "NQA-101",
    price: "360.000",
    imageUrl: "/images/all/nqa-101.jpg",
    link: "/phong/nqa-101",
  },
  {
    title: "NQA-102",
    price: "360.000",
    imageUrl: "/images/all/nqa-102.jpg",
    link: "/phong/nqa-102",
  },
  {
    title: "NQA-201",
    price: "360.000",
    imageUrl: "/images/all/nqa-201.jpg",
    link: "/phong/nqa-201",
  },
  {
    title: "NQA-202",
    price: "360.000",
    imageUrl: "/images/all/nqa-202.jpg",
    link: "/phong/nqa-202",
  },
  {
    title: "DBT-402",
    price: "360.000",
    imageUrl: "/images/all/dbt-402.jpg",
    link: "/phong/dbt-402",
  },
  {
    title: "DBT-502",
    price: "360.000",
    imageUrl: "/images/all/dbt-502.jpg",
    link: "/phong/dbt-502",
  },
  {
    title: "NTG-01",
    price: "360.000",
    imageUrl: "/images/all/ntg-01.jpg",
    link: "/phong/ntg-01",
  },
  {
    title: "NTG-02",
    price: "360.000",
    imageUrl: "/images/all/ntg-02.jpg",
    link: "/phong/ntg-02",
  },
  {
    title: "NTG-03",
    price: "360.000",
    imageUrl: "/images/all/ntg-03.jpg",
    link: "/phong/ntg-03",
  },
  {
    title: "NTG-04",
    price: "360.000",
    imageUrl: "/images/all/ntg-04.jpg",
    link: "/phong/ntg-04",
  },
];
---

<div id="room-introduce" class="section section-list-room cs-py-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <CardTitle
          title="Ở Đây Có Gì?"
          colorTitle="cl-yellow"
          description="Dù bạn đến đây vì công việc hay thư giãn, chỗ nghỉ tại Home mang đến sự hài hòa giữa nét tinh tế hiện đại và phong cách cổ điển. Với không gian linh hoạt, Home đáp ứng mọi nhu cầu, đảm bảo sự thoải mái cho mỗi vị khách."
        />
      </div>
    </div>
  </div>
  <div class="cs-mt-40 cs-lg-mt-60">
    <ListRoomSlide rooms={rooms} />
    <div class="container">
      <div class="cus-button text-center cs-mt-40">
        <a href="/phong" class="button button-default sd-lg">Tất Cả</a>
      </div>
    </div>
  </div>
</div>
