---
import { Image } from "astro:assets";
import CardFull from "@components/CardFull.astro";
import CardTitle from "@components/CardTitle.astro";
import ThreeLine from "@components/ThreeLine.astro";
---

<ThreeLine position="right" />
<section class="container-xxl cs-py-70">
  <CardFull
    title="Bình Yên<br /> Ở Đây"
    colorTitle="cl-yellow"
    description="<span>Không cần đi xa, chỉ cần bước vào Home là bạn có ngay một thế giới khác - êm đềm, yên tĩnh, và đầy đủ tiện nghi.</span>"
    buttonText="Đặt Phòng"
    buttonLink="/phong"
    imagePriUrl="/images/introduce/ntg-pri-01.jpg"
    imageSubUrl="/images/introduce/ntg-sub-01.jpg"
  />
</section>
<section class="take-care cs-py-60 cs-lg-py-20 text-center">
  <div class="container">
    <div class="cs-mb-30">
      <Image
        src="/images/happy-time-logo-yellow-ver2.svg"
        alt="Happy Studio, NetFlix & Chill"
        width={331}
        height={220}
        class="header__logo"
      />
    </div>
    <CardTitle
      title="<span class='fw-700'>Cứ vô tư, bạn ha !</span>"
      colorTitle="cl-yellow"
      description="<span>Đội ngũ Home siêu thân thiện, <br />luôn sẵn sàng chăm sóc bạn, từ việc lo liệu đi lại đến bật mí những góc nhỏ thú vị. <br class='d-none d-lg-block'/> Cần gì cứ gọi, tụi mình luôn ở đây 24/7 nha.</span>"
    />
  </div>
</section>
<section class="container-xxl cs-py-70">
  <CardFull
    title="Chill Hết Mức"
    position="right"
    colorTitle="cl-yellow"
    description="<span>Không chỉ là nơi nghỉ, bạn cần bao nhiêu riêng tư. Cứ việc thoải mái thư giãn, bật phim lên, Home lo hết phần còn lại. </span>"
    buttonText="Đặt Phòng"
    buttonLink="/phong"
    imagePriUrl="/images/introduce/ntg-pri-02.jpg"
    imageSubUrl="/images/introduce/ntg-sub-02.jpg"
  />
</section>
<ThreeLine position="left" />
