---

---

<section class="home-banner">
  <div
    class="home-banner__wrapper d-lg-flex align-items-center justify-content-center"
  >
    <div class="home-banner__left">
      <div class="home-banner__info d-flex flex-column cs-lg-px-70">
        <h2 class="title fw-900 cs-fs-70">
          <span class="fw-300 cs-fs-25">Relax & Chill</span>
          <br />
          <span class="fw-400 text-uppercase font-dream cl-yellow"
            >Happy Time Studio</span
          >
        </h2>
        <p class="description lh-18">
          Với không gian nhỏ xinh, phong cách ấm cúng, home tin rằng bạn sẽ cảm
          nhận được sự gần gũi và thoải mái như chính ngôi nhà của mình.
        </p>
        <div class="cus-button">
          <a href="#" class="button button-default sd-lg">Khám Phá</a>
        </div>
      </div>
    </div>
    <div class="home-banner__right">
      <img src="/src/assets/banner.webp" alt="Home Banner" class="img-width sd-big" />
    </div>
  </div>
</section>
