---
import { Image } from "astro:assets";
---

<section class="cs-py-60 cs-lg-py-70 sd-big">
  <footer>
    <div class="container">
      <div class="row footer-row">
        <div class="col-lg-4">
          <div class="text-center text-lg-start cs-lg-pe-40">
            <Image
              src="/src/assets/happy-time-logo-yellow-ver2.svg"
              alt="Happy Studio, NetFlix & Chill"
              width={331}
              height={220}
              class="img-width"
              style="width: 150px;"
            />
            <p class="cs-fs-15 fw-500 cs-mb-0 cl-dark-black cs-mt-20">
              Đặt phòng ngay hôm nay để bước vào thế giới đầy ấm cúng, <br
                class="d-block d-lg-none"
              /> quyến rũ và sự hiếu khách dễ thương tại Home!
            </p>
            <div class="cus-button cs-mt-20">
              <a href="/phong" class="button button-default">Đặt Phòng</a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-6">
              <p class="cs-fs-20 cl-yellow fw-700 cs-mb-15 text-uppercase">
                Địa Chỉ
              </p>
              <ul
                class="cs-ps-0 d-flex flex-column"
                style="list-style-type: none; gap: 16px;"
              >
                <li>
                  <p class="cs-fs-16 fw-600 cs-mb-0 cl-yellow">Quận Tân Phú</p>
                  <a
                    href="https://www.google.com/maps/place/56%2F5+Nguy%E1%BB%85n+Qu%C3%BD+Anh,+T%C3%A2n+S%C6%A1n+Nh%C3%AC,+T%C3%A2n+Ph%C3%BA,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.8012402,106.6250359,17z/data=!3m1!4b1!4m6!3m5!1s0x31752bfda0393099:0x4d45251e6927fd4!8m2!3d10.8012402!4d106.6276108!16s%2Fg%2F11f2ryh9sf?hl=vi-VN&entry=ttu&g_ep=EgoyMDI0MDkxNS4wIKXMDSoASAFQAw%3D%3D"
                    class="fw-500 cl-dark-black"
                    target="_blank"
                  >
                    56/5 Nguyễn Quý Anh
                  </a>
                </li>
                <li>
                  <p class="cs-fs-16 fw-600 cs-mb-0 cl-yellow">Quận 8</p>
                  <a
                    href="https://www.google.com/maps/place/63+D.+B%C3%A1+Tr%E1%BA%A1c,+Ph%C6%B0%E1%BB%9Dng+1,+Qu%E1%BA%ADn+8,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.749082,106.6836431,17z/data=!3m1!4b1!4m6!3m5!1s0x31752f088724ccf1:0x9b3b1a2e9c9b222e!8m2!3d10.749082!4d106.688514!16s%2Fg%2F11c2g8kzs6?hl=vi-VN&entry=ttu&g_ep=EgoyMDI0MDkxNS4wIKXMDSoASAFQAw%3D%3D"
                    class="fw-500 cl-dark-black"
                    target="_blank"
                  >
                    63 Dương Bá Trạc
                  </a>
                </li>
                <li>
                  <p class="cs-fs-16 fw-600 cs-mb-0 cl-yellow">Quận Gò Vấp</p>
                  <a
                    href="https://www.google.com/maps/place/47+Nguy%E1%BB%85n+T%C6%B0+Gi%E1%BA%A3n,+Ph%C6%B0%E1%BB%9Dng+12,+G%C3%B2+V%E1%BA%A5p,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.8341909,106.6376358,18.33z/data=!4m6!3m5!1s0x31752978f92e80f9:0x174446f480695dc5!8m2!3d10.8338139!4d106.6377542!16s%2Fg%2F11j8g_xmsv?hl=vi-VN&entry=ttu&g_ep=EgoyMDI0MDkxNS4wIKXMDSoASAFQAw%3D%3D"
                    class="fw-500 cl-dark-black"
                    target="_blank"
                  >
                    47/51/19d Nguyễn Tư Giản
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-6">
              <p class="cs-fs-20 cl-yellow fw-700 cs-mb-15 text-uppercase">
                Liên Hệ
              </p>
              <ul
                class="cs-ps-0 d-flex flex-column footer-social"
                style="list-style-type: none; gap: 16px;"
              >
                <li class="footer-social__item">
                  <a
                    href="https://www.tiktok.com/@ebeoxamxii?fbclid=IwY2xjawFXrz5leHRuA2FlbQIxMAABHTY6jmDcfUXnaBdVizJQi9dBhj19CdFa7DVBZNN9oO2Wmj0KIQoK7JF4LA_aem_FzKewpvxUi4Zz8HYay53mg"
                    class="d-flex align-items-center cl-dark-black footer-social__item-link"
                    target="_blank"
                  >
                    <span class="icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        ><path
                          d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z"
                        ></path></svg
                      ></span
                    >
                    <span class="cs-ps-10 fw-500">tiktok.com/@ebeoxamxii</span>
                  </a>
                  <a
                    href="tel:0367572558"
                    class="d-flex align-items-center cl-dark-black footer-social__item-link"
                  >
                    <span class="icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512"
                        ><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path
                          d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"
                        ></path></svg
                      ></span
                    >
                    <span class="cs-ps-10 fw-500">036 757 2558</span>
                  </a>
                </li>
                <li class="footer-social__item">
                  <a
                    href="https://www.tiktok.com/@tranthithu143?fbclid=IwY2xjawFXsCtleHRuA2FlbQIxMAABHTY6jmDcfUXnaBdVizJQi9dBhj19CdFa7DVBZNN9oO2Wmj0KIQoK7JF4LA_aem_FzKewpvxUi4Zz8HYay53mg"
                    class="d-flex align-items-center cl-dark-black footer-social__item-link"
                    target="_blank"
                  >
                    <span class="icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 448 512"
                        ><path
                          d="M448 209.9a210.1 210.1 0 0 1 -122.8-39.3V349.4A162.6 162.6 0 1 1 185 188.3V278.2a74.6 74.6 0 1 0 52.2 71.2V0l88 0a121.2 121.2 0 0 0 1.9 22.2h0A122.2 122.2 0 0 0 381 102.4a121.4 121.4 0 0 0 67 20.1z"
                        ></path></svg
                      ></span
                    >
                    <span class="cs-ps-10 fw-500"
                      >tiktok.com/@tranthithu143</span
                    >
                  </a>
                  <a
                    href="tel:0326245744"
                    class="d-flex align-items-center cl-dark-black footer-social__item-link"
                  >
                    <span class="icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512"
                        ><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path
                          d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"
                        ></path></svg
                      ></span
                    >
                    <span class="cs-ps-10 fw-500">032 624 5744</span>
                  </a>
                </li>
                <li class="footer-social__item">
                  <a
                    href="https://www.facebook.com/happytimestudiosg"
                    class="d-flex align-items-center cl-dark-black footer-social__item-link"
                    target="_blank"
                  >
                    <span class="icon"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 320 512"
                        ><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path
                          d="M279.1 288l14.2-92.7h-88.9v-60.1c0-25.4 12.4-50.1 52.2-50.1h40.4V6.3S260.4 0 225.4 0c-73.2 0-121.1 44.4-121.1 124.7v70.6H22.9V288h81.4v224h100.2V288z"
                        ></path></svg
                      ></span
                    >
                    <span class="cs-ps-10 fw-500"
                      >tiktok.com/@tranthithu143</span
                    >
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="cs-pt-40 cs-mt-40" style="border-top: 1px solid #eee">
        <div class="text-center text-lg-end cs-fs-14 fw-500">
          Copyright © 2024. All rights reserved. <br />Được phát triển bởi
          <a
            class="fn__link"
            href="https://www.facebook.com/keivin.nguyen.1"
            target="_blank"
            rel="noreferrer">N.N</a
          >
        </div>
      </div>
    </div>
  </footer>
</section>
