---
import { Image } from "astro:assets";
---

<div class="header-hamburger sd-lg">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
    ><path
      d="M16 132h416c8.8 0 16-7.2 16-16V76c0-8.8-7.2-16-16-16H16C7.2 60 0 67.2 0 76v40c0 8.8 7.2 16 16 16zm0 160h416c8.8 0 16-7.2 16-16v-40c0-8.8-7.2-16-16-16H16c-8.8 0-16 7.2-16 16v40c0 8.8 7.2 16 16 16zm0 160h416c8.8 0 16-7.2 16-16v-40c0-8.8-7.2-16-16-16H16c-8.8 0-16 7.2-16 16v40c0 8.8 7.2 16 16 16z"
    ></path></svg
  >
</div>
<div class="overlay-background"></div>
<header
  class="header d-flex flex-column justify-content-center cs-px-40 cs-lg-px-60 cd-py-40 cs-lg-py-60"
>
  <div class="header-close">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"
      ><path
        d="M242.7 256l100.1-100.1c12.3-12.3 12.3-32.2 0-44.5l-22.2-22.2c-12.3-12.3-32.2-12.3-44.5 0L176 189.3 75.9 89.2c-12.3-12.3-32.2-12.3-44.5 0L9.2 111.5c-12.3 12.3-12.3 32.2 0 44.5L109.3 256 9.2 356.1c-12.3 12.3-12.3 32.2 0 44.5l22.2 22.2c12.3 12.3 32.2 12.3 44.5 0L176 322.7l100.1 100.1c12.3 12.3 32.2 12.3 44.5 0l22.2-22.2c12.3-12.3 12.3-32.2 0-44.5L242.7 256z"
      ></path></svg
    >
  </div>
  <div class="container">
    <div class="header-nav d-flex flex-column">
      <div class="header-nav__logo">
        <Image
          src="/images/happy-time-logo-black-ver2.svg"
          alt="Happy Studio, NetFlix & Chill"
          width={331}
          height={220}
          class="header__logo img-width"
        />
      </div>
      <ul class="header-nav__menu d-flex flex-column">
        <li class="header-nav__menu-item">
          <a href="/" class="header-nav__menu-link cs-fs-30">Trang Chủ</a>
        </li>
        <li class="header-nav__menu-item">
          <a href="/phong" class="header-nav__menu-link cs-fs-30">Loại Phòng</a>
        </li>
        <li class="header-nav__menu-item">
          <a href="https://m.me/happytimestudiosg" target="_blank" class="header-nav__menu-link cs-fs-30">Đặt Ngay</a>
        </li>
      </ul>
      <div class="header-nav__footer">
        <p>
          Copyright © 2024. All rights reserved. <br />Được phát triển bởi
          <a
            class="fn__link"
            href="https://www.facebook.com/keivin.nguyen.1"
            target="_blank"
            rel="noreferrer">N.N</a
          >
        </p>
      </div>
    </div>
  </div>
</header>
<script is:inline>
  function activeBehaviorHeader() {
    $(".header-hamburger").on("click", function () {
      $("body").addClass("show");
    });
    $(".overlay-background, .header-close").on("click", function () {
      $("body").removeClass("show");
    });
  }
  document.addEventListener('astro:after-swap', activeBehaviorHeader);
  activeBehaviorHeader();
</script>
