---
import CardRoom from "./CardRoom.astro";
const { rooms } = Astro.props;
---

<div class="list-room-slider">
  <div class="swiper cs-ps-40">
    <div class="swiper-wrapper">
      {
        rooms.map((room) => (
          <div class="swiper-slide cs-me-15 cs-md-px-10 cs-md-me-20">
            <CardRoom
              imageUrl={room.imageUrl}
              link={room.link}
              title={room.title}
              price={room.price}
            />
          </div>
        ))
      }
    </div>
  </div>
</div>
<script is:inline>
  new Swiper(".swiper", {
    direction: "horizontal",
    loop: true,
    speed: 1400,
    pauseOnMouseEnter: true,
    autoplay: {
      delay: 6000,
    },
    breakpoints: {
      0: {
        slidesPerView: 2,
        centeredSlides: false,
      },
      992: {
        slidesPerView: 3,
        centeredSlides: false,
      },
      1200: {
        slidesPerView: 5,
        centeredSlides: false,
      },
    },
  });
</script>
