---
import { Image } from "astro:assets";
---

<div class="loading-spinner">
  <Image
    src="/images/happy-time-logo-yellow-ver2.svg"
    alt="Happy Studio, NetFlix & Chill"
    width={331}
    height={220}
    class="img-width"
    style="width: 100px;"
  />
  <p class="cs-fs-14 cs-mt-8 cl-yellow fw-500">Chill thôi nào</p>
</div>
