---
import RoomList from "@components/rooms/RoomList.astro";
import CardTitle from "@components/CardTitle.astro";
import RoomThanks from "@components/home/RoomThanks.astro";
import { Image } from "astro:assets";
// import Banner from "@components/Banner.astro";
// import RoomScale from "@components/home/RoomScale.astro";
// import { getCollection } from "astro:content";
const roomNQA = [
  {
    title: "NQA-101",
    price: "360.000",
    imageUrl: "/images/all/nqa-101.webp",
    link: "/phong/nqa-101",
  },
  {
    title: "NQA-102",
    price: "360.000",
    imageUrl: "/images/all/nqa-102.webp",
    link: "/phong/nqa-102",
  },
  {
    title: "NQA-201",
    price: "360.000",
    imageUrl: "/images/all/nqa-201.webp",
    link: "/phong/nqa-201",
  },
  {
    title: "NQA-202",
    price: "360.000",
    imageUrl: "/images/all/nqa-202.webp",
    link: "/phong/nqa-202",
  },
];
const roomDBT = [
  {
    title: "DBT-402",
    price: "360.000",
    imageUrl: "/images/all/dbt-402.webp",
    link: "/phong/dbt-402",
  },
  {
    title: "DBT-502",
    price: "360.000",
    imageUrl: "/images/all/dbt-502.webp",
    link: "/phong/dbt-502",
  },
];
const roomNTG = [
  {
    title: "NTG-01",
    price: "360.000",
    imageUrl: "/images/all/ntg-01.webp",
    link: "/phong/ntg-01",
  },
  {
    title: "NTG-02",
    price: "360.000",
    imageUrl: "/images/all/ntg-02.webp",
    link: "/phong/ntg-02",
  },
  {
    title: "NTG-03",
    price: "360.000",
    imageUrl: "/images/all/ntg-03.webp",
    link: "/phong/ntg-03",
  },
  {
    title: "NTG-04",
    price: "360.000",
    imageUrl: "/images/all/ntg-04.webp",
    link: "/phong/ntg-04",
  },
];
---

<section class="section-list-rooms cs-pt-60 cs-pb-100">
  <div class="back-page cus-button d-flex justify-content-center">
    <a href="/" class="button button-default sd-big">
      <Image 
        src="/images/happy-time-logo-white-ver2.svg"
        alt="Home"
        width={60}
        height={30}
        quality={80}
        class="img-width"
      />
    </a>
  </div>
  <div class="text-center cs-mb-60">
    <RoomThanks
      imageUrl="/images/room-thanks.svg"
      description="Giữa chốn thành thị tấp nập, không gian riêng càng trở nên xa xỉ hơn. Home không chỉ là chốn yên bình dành cho những giờ phút nghỉ ngơi, khoảng lặng để hoàn thành công việc. Mà còn là nơi thắp lên tình yêu, tình bạn và ghi lại những kỷ niệm đáng nhớ."
      textColor="black"
      logoColor="black"
      bgSectionColor="#f9e7cd"
    />
  </div>
  <div class="text-center cs-pb-60">
    <div class="container">
      <CardTitle
        title="Không Gian <br />Happy Studio"
        colorTitle="cl-yellow"
        description="Bạn cần bao nhiêu riêng tư, Home cũng có nha!"
      />
    </div>
  </div>
  <div class="container">
    <div
      class="d-flex flex-column flex-gap-64 position-relative"
      style="z-index: 2;"
    >
      <RoomList
        address="Nguyễn Quý Anh"
        description="Mỗi phòng được trang hoàng xinh xắn với đầy đủ tiện nghi. Dù bạn chọn phòng ngập tràn ánh sáng hay phòng với đèn led hình cây thông lấp lánh, <br />chắc chắn bạn sẽ có những giây phút thư giãn tuyệt vời"
        rooms={roomNQA}
      />
      <RoomList
        address="Nguyễn Tư Giản"
        description="Bạn sẽ tìm thấy nơi nghỉ ngơi lý tưởng cho dù bạn đang tìm kiếm một không gian yên tĩnh để thư giãn hay một góc lý tưởng để xem phim. <br />Hãy để Home trở thành nơi bạn gọi là nhà khi xa!"
        rooms={roomNTG}
      />
      <RoomList
        address="Dương Bá Trạc"
        description="Mỗi phòng mang một vẻ đẹp riêng, từ tông màu ấm áp đến góc xanh mát lành, tạo nên không gian yên bình và đáng yêu cho kỳ nghỉ của bạn."
        rooms={roomDBT}
      />
    </div>
  </div>
</section>
