---
interface Props {
  title: string;
  description: string;
  images: string;
  url: string;
}
const { title, description, images, url } = Astro.props;
import Seo from "@components/Seo.astro";
import "../styles/index.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon/android-chrome-512x512.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <meta name="generator" content={Astro.generator} />
    <Seo 
      title={title} 
      description={description || 'Với không gian nhỏ xinh, phong cách ấm cúng, home tin rằng bạn sẽ cảm nhận được sự gần gũi và thoải mái như chính ngôi nhà của mình.'}
      url={Astro.url}
      image={images || '/images/banner.webp'}
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>{title}</title>
  </head>
  <body>
    <script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"
    ></script>
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
    ></script>
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/sharer.js@0.5.2/sharer.min.js"
    ></script>
    <script is:inline src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/@fullcalendar/google-calendar@6.1.15/index.global.min.js"></script>
    <slot />
  </body>
</html>
