---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Banner from "@components/Banner.astro";
import Footer from "@components/Footer.astro";
import AllRooms from "@components/rooms/AllRooms.astro";
const rooms = await getCollection("rooms");
console.log('rooms', rooms);
---

<Layout title="Happy Studio - Netflix & Chill">
  <Header />
  <main class="main-section">
    <AllRooms />
  </main>
  <Footer />
</Layout>
