---
// import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import AllRooms from "@components/rooms/AllRooms.astro";
// const rooms = await getCollection("rooms");
const currentUrl = Astro.url;
---

<Layout 
  title="Happy Studio - Danh Sách Phòng"
  description="Giữa chốn thành thị tấp nập, không gian riêng càng trở nên xa xỉ hơn. Home không chỉ là chốn yên bình dành cho những giờ phút nghỉ ngơi, khoảng lặng để hoàn thành công việc. Mà còn là nơi thắp lên tình yêu, tình bạn và ghi lại những kỷ niệm đáng nhớ."
  images={`${currentUrl}images/banner-introduce.jpg`}
  url={currentUrl as any}
  >
  <Header />
  <main class="main-section">
    <AllRooms />
  </main>
  <Footer />
</Layout>
